name: 'example'
description: 'Example application for the JSON Theme'
publish_to: 'none'
version: '1.0.0+35'

environment: 
  sdk: '>=2.19.0 <4.0.0'

dependencies: 
  flutter: 
    sdk: 'flutter'
  form_validation: '^3.0.0'
  google_fonts: '^4.0.5'
  intl: '^0.18.1'
  json_theme: 
    path: '../'
  meta: '^1.8.0'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


flutter: 
  uses-material-design: true
  assets: 
    - 'assets/themes/'
  fonts: 
    - 
      family: 'lato'
      fonts: 
        - 
          asset: 'assets/fonts/Lato-Regular.ttf'

    - 
      family: 'metal'
      fonts: 
        - 
          asset: 'assets/fonts/MetalMania-Regular.ttf'

    - 
      family: 'MaterialIcons'
      fonts: 
        - 
          asset: 'assets/fonts/MaterialIcons-Regular.ttf'



ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
