name: 'json_theme'
description: 'A library to dynamically generate a ThemeData object from a JSON file or dynamic map object'
homepage: 'https://github.com/peiffer-innovations/json_theme'
version: '7.0.0+3'

environment:
  sdk: '>=3.2.0 <4.0.0'

analyzer:
  exclude:
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'

dependencies:
  flutter:
    sdk: 'flutter'
  json_class: '^3.0.1'
  json_schema: '^5.2.0'
  json_theme_annotation: '^1.0.3+14'
  logging: '^1.3.0'
  meta: '^1.12.0'

dev_dependencies:
  analyzer: '^6.7.0'
  build: '^2.4.2'
  build_runner: '^2.4.14'
  code_builder: '^4.10.1'
  flutter_lints: '^5.0.0'
  flutter_test:
    sdk: 'flutter'
  json_theme_codegen: '^1.1.3+7'
  recase: '^4.1.0'
  source_gen: '^2.0.0'

permittedLicenses:
  - 'Apache-2.0'
  - 'BSD-2-Clause'
  - 'BSD-3-Clause'
  - 'MIT'
  - 'MIT-Modern-Variant'
  - 'MPL-2.0'
  - 'Zlib'

packageLicenseOverride:
  flutter: 'BSD-3-Clause'
  flutter_driver: 'BSD-3-Clause'
  flutter_goldens: 'BSD-3-Clause'
  flutter_localizations: 'BSD-3-Clause'
  flutter_web_plugins: 'BSD-3-Clause'
  flutter_test: 'BSD-3-Clause'
  fuchsia_remote_debug_protocol: 'BSD-3-Clause'
  integration_test: 'BSD-3-Clause'
  rxdart: 'Apache-2.0'

ignore_updates:
  - 'analyzer'
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'uuid'
  - 'vector_math'
  - 'webdriver'
